:root {
    /* Ratio above 7 = AAA ; Between 4.5 and 7 = AA ; Lower != DO NOT USE. For text, at least ! */
    --bg-primary : #FDF9EB; /* R with text-color : 11.46 */
    --bg-secondary : #F5F5DC; /* R with text-color : 10.91 */
    --bg-tertiary : #C6EAA4; /* R with text-color : 9.03 */
    
    /* Ratio above 3 is recommenced for CTA or Buttons */
    --cta-bg : #156A3E; /*R with Primary : 7.18, Secondary : 6.84, Tertiary : 5.66. R with text-cta : 7.16 */
    
    --text-color : #323738;
    --text-cta : #F8F8FF;
    --text-link : #1C552C; /* R with Primary : 8.35, Secondary : 7.96, Tertiary : 6.59 */
    /* ---------- */

    --fast-trans : .3s ease-in-out;
}

@font-face {
    font-family: "OpenSans";
    src: url("./res/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

/* Small Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: 3px solid var(--link); 
}

/* General */

body {
    font-family: "OpenSans", "Verdana", sans-serif;
    font-size: clamp(1.125rem, 1.0787rem + 0.2469vw, 1.375rem);
    color: var(--text-color);
    background-color: var(--bg-primary);
    user-select: none;
    scroll-behavior: smooth;
}

/* Components */

h1 {
    font-size: clamp(1.5rem, 1.2222rem + 1.4815vw, 3rem);
}

h2 {
    font-size: clamp(1.375rem, 1.1667rem + 1.1111vw, 2.5rem);
}

h3 {
    font-size: clamp(1.25rem, 1.1111rem + 0.7407vw, 2rem);
}

header, footer {
    background-color: var(--bg-tertiary);
}

header {
    display: flex;
    padding: min(1rem, 5%);
    background-image: url(./res/img/header_samuel-girven-P15fKj9Uswg-unsplash.jpg);
    background-position: center 80%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    justify-content: end;
    align-items: center;
    overflow: hidden;
}

.hero-title {
    background-color: var(--bg-tertiary);
    padding: 1rem;
    text-align: center;
    margin-right: 5%;
    height: fit-content;
}

nav {
    display: flex;
    justify-content: center;
    background-color: var(--bg-tertiary);

    & ul {
        display: flex;
        list-style: none;
        justify-content: space-around;
        width: min(800px, 100%);
        overflow: hidden;
        height: auto;
    }

    & a {
        display: flex;
        height: 100%;
        color: var(--text-link);
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        padding: 1rem;
        border: 2px solid transparent;
        transition: background-color var(--fast-trans), color var(--fast-trans);
    }

    & .burger-menu, .inactive, .responsive-navigation {
        display: none;
        padding: 1rem;
    }
}

section:nth-of-type(2n) {
    background-color: var(--bg-secondary);
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

section > h2, section > h3 {
    padding: 2rem 0;
    text-decoration: underline 2px var(--cta-bg);
    text-underline-offset: 1rem;
    line-height: 3rem;
}

section span {
    margin: 1.25rem 0;
    padding: 1rem;
    background-color: var(--cta-bg);
    color: var(--text-cta);
    border-radius: 6px;
    box-shadow: 0 0 8px 0px var(--text-color);
    text-transform: uppercase;
    font-weight: 600;
}

section em {
    font-style: normal;
    font-weight: 800;
    color: var(--text-link);
}

section cite {
    font-weight: 500;
    padding-bottom: 3rem;
}

p {
    width: min(65ch, 100%);
    text-align: justify;
    padding: 2rem 1rem;
}

.burger-menu {
    & svg {
        border : 2px solid var(--text-color);
        border-radius: 6px;
        cursor: pointer;
    }
}

/* Animations */

@keyframes upAndDown {
    0%, 100% {
        transform: translateY(0px);
    }

    33% {
        transform: translateY(3px);
    }

    66% {
        transform: translateY(-3px);
    }
}

@keyframes topToDown {
    0% {
        transform: translateX(-500px);
        height: 0px;
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        height: 305px;
        opacity: 1;
    }
}

@keyframes downToTop {
    0% {
        transform: translateX(0px);
        height: 305px;
        opacity: 1;
    }

    20% {
        transform: translateX(-100px);
        height: 305px;
        opacity: 1;
    }

    100% {
        transform: translateX(-500px);
        height: 0px;
        opacity: 0;
    }
}

/* State */

nav a:hover, nav a:focus {
    background-color: var(--text-link);
    color: var(--text-cta);
}

*:focus {
    border: 2px solid var(--text-cta);
    box-shadow: 0 0 2px 3px var(--cta-bg);
}

.burger-menu:focus {
    box-shadow: none;
}

.burger-menu:hover > svg {
    animation: upAndDown 1s ease-out infinite;
}

.burger-menu:focus > svg {
    border: 2px solid var(--text-cta);
    box-shadow: 0 0 2px 3px var(--cta-bg);
}

/* Responsive */
@media screen and (max-width: 920px) {
    header {
        height: 22rem;
        justify-content: center;
        align-items: start;
    }

    nav {
        & a {
            font-weight: 600;
        }
    }
}

/*
/!\ Below ! /!\
Important break point for the navigation, transforming in a basic mobile navigation via hamburger menu & some animations too smooth it up.
*/

@media screen and (max-width: 720px) {
    nav {

        flex-direction: column;

        & #primary-navigation {
            animation: downToTop 1s ease-out forwards;            
            display: none;
        }

        & #primary-navigation.active {
            display: flex;
            flex-direction: column;
            animation: topToDown 1s ease-out forwards;
        }

        & #primary-navigation.closed {
            display: flex;
            flex-direction: column;
            animation: downToTop 1s ease-out forwards;
        }

        & .burger-menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: var(--bg-tertiary);
            border: none;
        }

        & .burger-menu > svg {
            width: 2rem;
            height: 2rem;
        }
        
        & .inactive {
            display: none;
        }

    }
}

@media screen and (max-width: 500px) {
    header {
        height: 18rem;
    }
}