:root {
    /* Ratio above 7 = AAA ; Between 4.5 and 7 = AA ; Lower != DO NOT USE. For text, at least ! */
    --bg-primary : #FDF9EB; /* R with text-color : 11.46 */
    --bg-secondary : #F5F5DC; /* R with text-color : 10.91 */
    --bg-tertiary : #C6EAA4; /* R with text-color : 9.03 */
    
    /* Ratio above 3 is recommenced for CTA or Buttons */
    --cta-bg : #156A3E; /*R with Primary : 7.18, Secondary : 6.84, Tertiary : 5.66. R with text-cta : 7.16 */
    
    --text-color : #323738;
    --text-cta : #F8F8FF;
    --text-link : #1C552C; /* R with Primary : 8.35, Secondary : 7.96, Tertiary : 6.59 */
    /* ---------- */

    --fast-trans : .3s ease-in-out;
}

@font-face {
    font-family: "OpenSans";
    src: url("./res/fonts/OpenSans-VariableFont_wdth\,wght.ttf");
}

/* Small Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: 3px solid var(--text-link); 
}

/* General */

body {
    font-family: "OpenSans", "Verdana", sans-serif;
    font-size: clamp(1.125rem, 1.0787rem + 0.2469vw, 1.375rem);
    color: var(--text-color);
    background-color: var(--bg-primary);
    user-select: none;
    scroll-behavior: smooth;
}

/* Components */

h1 {
    font-size: clamp(1.5rem, 1.2222rem + 1.4815vw, 3rem);
}

h2 {
    font-size: clamp(1.375rem, 1.1667rem + 1.1111vw, 2.5rem);
}

h3 {
    font-size: clamp(1.25rem, 1.1111rem + 0.7407vw, 2rem);
}

header, footer {
    background-color: var(--bg-tertiary);
}

header {
    display: flex;
    padding: min(1rem, 5%);
    background-image: url(./res/img/header_samuel-girven-P15fKj9Uswg-unsplash.jpg);
    background-position: center 80%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 25rem;
    justify-content: end;
    align-items: center;
    overflow: hidden;
}

.hero-title {
    background-color: var(--bg-tertiary);
    padding: 1rem;
    text-align: center;
    margin-right: 5%;
    height: fit-content;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    border-bottom: 2px solid var(--text-link);
    background-color: var(--bg-tertiary);
    z-index: 10;

    & ul {
        display: flex;
        list-style: none;
        justify-content: space-around;
        width: min(800px, 100%);
        overflow: hidden;
        height: auto;
    }

    & a {
        display: flex;
        height: 100%;
        color: var(--text-link);
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 700;
        padding: 1rem;
        border: 2px solid transparent;
        transition: background-color var(--fast-trans), color var(--fast-trans);
    }

    & .burger-menu, .inactive, .responsive-navigation {
        display: none;
        padding: 1rem;
    }
}

section:nth-of-type(2n) {
    background-color: var(--bg-secondary);
}
 
section, .customer-answer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

section > h2, section > h3 {
    padding: 2rem 0;
    text-decoration: underline 2px var(--cta-bg);
    text-underline-offset: 1rem;
    line-height: 3rem;
}

section span a {
    text-decoration: none;
    color: var(--text-cta);
}

section span {
    margin: 1.25rem 0;
    padding: 1rem;
    background-color: var(--cta-bg);
    border-radius: 6px;
    box-shadow: 0 0 8px 0px var(--text-color);
    text-transform: uppercase;
    font-weight: 600;
}

section em {
    font-style: normal;
    font-weight: 800;
    color: var(--text-link);
}

section cite {
    font-weight: 500;
    padding-bottom: 3rem;
}

section article {
    position: relative;
    width: max(300px, 80%);
    z-index: 5;
}

p {
    width: min(65ch, 100%);
    text-align: justify;
    padding: 2rem 1rem;
}

.burger-menu {
    & svg {
        border : 2px solid var(--text-color);
        border-radius: 6px;
        cursor: pointer;
    }
}

.button-container {
    position: relative;
    top: -240px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 350px;
    z-index: 2;
}

#customer-survey button {
    border: none;
    color: var(--bg-secondary);
    background-color: var(--cta-bg);
    cursor: pointer;
    border-radius: 5px;
    padding: 5px 15px;
}

#prev, #next{
    font-size: 60px;
}

.customer-answer {
    display: none;
    height: 600px;
    margin: 0 auto;
    transition: transform 1s ease-in-out;
}

.displayed {
    opacity: 0;
}

.customer-answer.displayed {
    display: flex;
    animation: opacity .5s ease-in-out forwards;
}

.customer-answer > img {
    object-fit: cover;
    border-radius: 50%;
    margin: 1rem 0 2rem;
}

footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.5rem;
}

footer section, footer section:nth-of-type(2n) {
    background-color: var(--bg-tertiary);
    align-items: start;
    text-align: left;
}

footer section h2, footer section h3 {
    padding: 0 0;
    text-decoration: none;
}

footer section h2 {
    font-size: 22px;
}

footer section h3 {
    font-size: 20px;
}

footer section {
    font-size: 18px;
}

footer li {
    list-style: none;
    padding-top: .5rem;
}

footer a {
    color: var(--text-link);
    font-weight: 500;
}

/*-------------
Page : Services
-------------*/

.container-service {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.service-cards {
    position: relative;
    display: grid;
    width: 250px;
    height: 625px;
    align-items: center;
    background-color: var(--bg-secondary);
    border-radius: .75rem;
    box-shadow: 0px 0px 15px 0px var(--text-color);
    transform: scale(.9);
    transition: transform .5s ease-in-out;
}

.popular::after {
    position: absolute;
    content: "Populaire";
    padding: 1rem .75rem;
    top: -25px;
    right: -25px;
    transform: rotate(25deg);
    border: solid var(--text-cta) 1px;
    color: var(--text-cta);
    background-color: var(--cta-bg);
}

.service-cards.promenade {
    grid-template-rows: 1fr 2fr 1fr 2fr 1fr;
}

.service-cards.dog-sitting {
    grid-template-rows: 1fr 2fr 2fr 1fr;
}

.service-title {
    font-size: clamp(1.25rem, 1.1111rem + 0.7407vw, 2rem);
    font-weight: 500;
    width: 100%;
    text-align: center;
    background-color: var(--cta-bg);
    border-radius: .75rem .75rem 0 0;
    color: var(--text-cta);
}

.service-cards li {
    list-style: none;
    text-align: left;
    padding: 1rem;
}

.service-supplement {
    text-align: center;
}

.service-price {
    justify-self: center;
    padding: 2rem;
    background-color: var(--bg-tertiary);
    width: fit-content;
    height: fit-content;
    border-radius: 12px;
}

.contact {
    border: none;
    text-transform: uppercase;
    background-color: var(--cta-bg);
    border-radius: 0 0 .75rem .75rem;
    cursor: pointer;
    text-decoration: none;
    color: var(--text-cta);
    font-weight: 700;
    height: 100%;
    align-content: center;
}

.service-info {
    margin-top: 2rem;
}

cite a, .service-alt a {
    color: var(--text-link);
    font-weight: 600;
}

.service-alt {
    justify-content: center;
    text-align: center;
}

#prom, #sit {
    scroll-margin-top: 65px;
}

/*-------------
Page : A propos
-------------*/

.team article {
    padding: 3rem 0rem;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
}

.team-cards {
    display: grid;
    grid-template-areas: 
    "header"
    "title"
    "par"
    "cite";
    grid-template-rows: 250px 50px 280px 200px;
    justify-items: center;
    background-color: var(--bg-secondary);
    padding: 2rem 1rem;
    border-radius: 8px;
    width: 350px;
    height: 750px;
    overflow: hidden;
    box-shadow: 0px 0px 5px 1px var(--cta-bg);
}

.team-cards h3 {
    grid-area: title;
    border-bottom: 3px solid var(--cta-bg);
    width: 100%;
}

.team-cards img {
    grid-area: header;
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.team-cards p {
    grid-area: par;
    align-self: center;
}

.team-cards cite {
    grid-area: cite;
}

/*---------------
Page : Témoignage
---------------*/
.avis-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 3rem 0;
}

.avis-cards {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    width: 280px;
    height: 380px;
    padding: 0.5rem;
    border-radius: 12px;
    background-color: var(--bg-secondary);
    box-shadow: 0px 0px 5px 1px var(--cta-bg);
}

.star {
    margin: .3rem 0;
}

.avis-cards h3 {
    position: absolute;
    bottom: 5%;
    left: 2rem;
}

.avis-cards p {
    padding: 1rem;
}

/* Animations */

@keyframes upAndDown {
    0%, 100% {
        transform: translateY(0px);
    }

    33% {
        transform: translateY(3px);
    }

    66% {
        transform: translateY(-3px);
    }
}

@keyframes topToDown {
    0% {
        transform: translateX(-500px);
        height: 0px;
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        height: 305px;
        opacity: 1;
    }
}

@keyframes downToTop {
    0% {
        transform: translateX(0px);
        height: 305px;
        opacity: 1;
    }

    20% {
        transform: translateX(-100px);
        height: 305px;
        opacity: 1;
    }

    100% {
        transform: translateX(-500px);
        height: 0px;
        opacity: 0;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* State */

nav a:hover, nav a:focus {
    background-color: var(--text-link);
    color: var(--text-cta);
}

*:focus {
    border: 2px solid var(--text-cta);
    box-shadow: 0 0 2px 3px var(--cta-bg);
}

.burger-menu:focus {
    box-shadow: none;
}

.burger-menu:hover > svg {
    animation: upAndDown 1s ease-out infinite;
}

.burger-menu:focus > svg {
    border: 2px solid var(--text-cta);
    box-shadow: 0 0 2px 3px var(--cta-bg);
}

.service-cards:hover, .service-cards:active, .service-cards:focus-within {
    transform: scale(1);
}

.contact:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* Responsive */

@media screen and (max-width: 1600px) {

    .customer-answer > h3 {
        margin-bottom: 50px;
    }


}

@media screen and (max-width: 1350px) {
    .team article {
        grid-template-columns: 300px 300px;
        justify-content: center;
    }

    .team-cards {
        width: 290px;
    }
}

@media screen and (max-width: 920px) {
    header {
        height: 22rem;
        justify-content: center;
        align-items: start;
    }

    nav {
        & a {
            font-weight: 600;
        }
    }

    .customer-answer > img {
        width: 225px;
        height: 225px;
    }
}

/*
/!\ Below ! /!\
Important break point for the navigation, transforming in a basic mobile navigation via hamburger menu & some animations too smooth it up.
*/

@media screen and (max-width: 720px) {
    nav {

        flex-direction: column;

        & #primary-navigation {
            animation: downToTop 1s ease-out forwards;            
            display: none;
        }

        & #primary-navigation.active {
            display: flex;
            flex-direction: column;
            animation: topToDown 1s ease-out forwards;
        }

        & #primary-navigation.closed {
            display: flex;
            flex-direction: column;
            animation: downToTop 1s ease-out forwards;
        }

        & .burger-menu {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: var(--bg-tertiary);
            border: none;
        }

        & .burger-menu > svg {
            width: 2rem;
            height: 2rem;
        }
        
        & .inactive {
            display: none;
        }

    }

    .button-container {
        gap: 180px;
    }
    
    #prev, #next {
        font-size: 40px;
    }

    .customer-answer > img {
        width: 150px;
        height: 150px;
    }
    
    footer {
        grid-template-columns: 1fr;
    }

    footer section h2 {
        font-size: 20px;
    }

    footer section h3 {
        font-size: 18px;
    }

    footer section {
        font-size: 16px;
    }

    .team article {
        grid-template-columns: 300px;
    }
}

@media screen and (max-width: 550px) {
    header {
        height: 18rem;
    }

    .customer-answer {
        height: 800px;
    }
}